{% load widget_tweaks %}
{% load static %}

{% block css %}
<link
  rel="stylesheet"
  href="{% static 'css/main.css' %}"
>
{% endblock css %}


{% block content %}
  <div x-data>

    <div class="row">
      <div class="cols">
        <form
          class="form"
          action="."
          method="POST"
        >
        <h1>Adicionar Cliente</h1>
          {% csrf_token %}

          {% for field in form.visible_fields %}
            <div class="form-group">
              <label for="{{ field.label }}">{{ field.label }}</label>
              {% render_field field class="form-control" %}

              {% if field.errors %}
                {% for error in field.errors %}
                  <p class="text-danger">{{ error }}</p>
                {% endfor %}
              {% endif %}
            </div>
          {% endfor %}
          
          <div class="box">

          <button
            type="submit"
            class="btn btn-primary"
          >Salvar</button>

          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}