:root {
    --background : #2AA2FA;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: var(--background);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px;
}
.content {
    text-align: center;
    height: 200px;
}
.content h2 {
    color : #fff;
    margin-bottom: 20px;
}
.content p {
    color: #E4E5E6;
}
.content a {
    border: 1px solid #fff;
    text-decoration: none;
    padding: 10px;
    color : #fff;
    border-radius: 6px;
    position: relative;
    top : 30px;
    font-weight: bold;
}
.content a:hover {
    transition: .2s ease-in;
    background-color: #fff;
    color: #2AA2FA;
}
.form {
    background: #fff;
    width: 400px;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    padding: 40px;
    border-radius: 6px;
}
.form h1 {
    color : rgb(97, 94, 94);
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.form-control {
    border : 1px solid #ccc;
    border-radius: 2px;
    height: 30px;
}
.form  button {
    border: 1px solid #2AA2FA;
    background-color: none;
    width: 200px;
    height: 30px;
    margin-top: 30px;
    border-radius: 6px;
}
.form button:hover {
    transition: .2s;
    background-color: #2AA2FA;
    color: #fff;
    cursor: pointer;
}
.form .box {
    display: flex;
    justify-content: flex-end;
}